<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content=type"text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
<title>Shopping List | Home</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="dashboard home style.css" type="text/css" />
<script type="text/javascript"></script>
</head>

<body>

<nav>
     <section class="nav-container">
     	 <aside class="logo">Shopping List  |  Home</aside>
     	 <aside class="menu">
     	 	<div class="menu-content">
     	 		<i class="fa fa-unlock-alt"></i><a href="#" id="login">Login</a> | <i class="fa fa-user"></i><a href="#">Register</a>
     	 	</div>
       	 </aside>
     </section>

</nav>

<script type="text/javascript">

</script>
</body>
</html>